<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workout Tracker</title>
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Workout Tracker</a>
      </h1>
      <nav>
        <button id="logout" class="btn-no-style">logout</button>
        <a href="/login">login</a>
      </nav>
    </header>

  <div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
</div>
    </div>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Stay on Track!
    </footer>
  </div>

</body>

</html>